
<nav class="navbar navbar-expand-lg navbar-light text-white" [style.backgroundColor]="bgcolor">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li *ngFor="let nav of navs" class="nav-item">
                <a class="nav-link" routerLink="/firstRouting">{{nav}}</a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
          <ul class="navbar-nav ml-auto">
                <a class="nav-link" routerLink="">Back</a>
          </ul>
          <ul class="navbar-nav ml-auto">
                <a class="nav-link" routerLink="/showPipes">Pipes</a>
          </ul>
          <!--<ul class="navbar-nav ml-auto">
            <a class="nav-link" [routerLink] ="['/showPipes','2']">Route Demo</a>
          </ul>
          <button (click)=gotoPage()>Navigate</button>
          <input appCustom/>-->
          <!--<input [format]="" [appCustom]="'upperCase'"/> --><!-- if Input no param-->
          <!--<input [appCustom]="'upperCase'"/>
          <input [appCustom]="'lowercase'"/>-->
          <ul class="navbar-nav ml-auto">
            <a class="nav-link" routerLink="/reactiveForm">Reactive Form</a>
          </ul>
          <ul class="navbar-nav ml-auto">
              <a class="nav-link" routerLink="/encapsulation">Encapsulation</a>
          </ul>
          <ul class="navbar-nav ml-auto">
            <a class="nav-link" routerLink="/childModule">Child Module</a>
          </ul>
        </div>
      </nav>