<form #f="ngForm" (ngSubmit)="submit(f)">
    <div class="form-group">
      <label for="firstName">First Name:</label>
      <input ngModel name="firstName" #firstName="ngModel"
      type="text" class="form-control" id="firstName"
      (change)="log(firstName)"
      required
      minlength="3"
      pattern="Admin"
      maxlength="10"/>
      <div class="alert alert-danger" *ngIf="firstName.touched && !firstName.valid">
          <div *ngIf="firstName.errors.required">Firstname is Required</div>
          <div *ngIf="firstName.errors.minlength">Username should be of minimum
              {{ firstName.errors.minlength.requiredLength }} characters
          </div>
          <div *ngIf="firstName.errors.pattern">
              Firstname does not match the pattern
          </div>
      </div>
      
    </div>
    <div class="form-group">
      <label for="pwd">Password:</label>
      <input type="password" class="form-control" id="pwd">
    </div>
    <div class="checkbox">
      <label><input type="checkbox"> Remember me</label>
    </div>
    <button [disabled]="!f.valid" type="submit" class="btn btn-primary">Submit</button>
  </form>